body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', sans-serif;
}


a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 1em;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 5px #777777;
}


/* .AlbumGallery_Wrapper {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
} */


.AlbumContentsContainer {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 80%;
}


article {
  display: none;
  width: 100%;
}


aside {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  min-height: 45em;
  margin: 0;
  padding: 0;
  background-color: gray;
}

aside ul {
  margin: 100px 0 0 0;
  padding:0;
}

aside ul li {
  width: 100%;
  display: block;
  margin:0 auto;
  padding: 1.75em 0.5em 1.75em 1.5em;
}

aside ul li a {
  font-size: 1em;
  color: black;
  text-decoration: none;
  padding: 1em 2em 1em 2em;
}


.Albumphoto {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 33%;
  }


.Albumphoto p {
    font-size: 1em;
    display: block;
    text-align: center;
}


/*
 for jQuery */


.active {
  display: inline-block;
}

.activeNav {
  background-color:white;
  display: inline-block;

}
.activeNav a {
  color: black;
}

.detailView {
  display: block;
  margin: 3em 20em 3em 20em;
  width: 700px;
}
